@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 40px;
  color: #212121;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: 0;
  cursor: pointer;
}