@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *)) * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  fontr: weight 500;
}

@theme {
  --color-primary: #5044E5
}